<app-navigation></app-navigation>
<div class="col s12 m6 l3">
    <div class="card">
        <div class="card-content">
                <ul class="collection col s12 m6 l3" *ngFor="let stack of paycard">
                        <li class="collection-item">
                                <img src="{{ stack.product.imageUrl }}">
                                <p class="card-text">precio: {{ stack.product.price }}</p>
                                <p class="card-text">cantidad: {{ stack.quantity }}</p>
                        </li>
                      </ul>
        </div>
        <div class="card-action">
            <p class="card-text">Subtotal: {{ subtotal }}</p>
        </div>
    </div>
</div>