<app-navigation [contador]="counter"></app-navigation>

<div class="s12 shop container-fluid">
    <div class="row">
        <div class="progress" *ngIf="!productsLoaded">
            <div class="indeterminate"></div>
        </div>
        <div id="container" *ngIf="productsLoaded">
            <app-search (searchEmiter)="search($event)"></app-search>
            <div *ngFor="let stack of stacks">
                <app-summary (counterEntry)="incrementCar($event)" [stack]="stack"></app-summary>
            </div>
        </div>
    </div>
</div>